:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;

  /* Colors */
  --primary: #ffb300;
  --secondary: #4caf50;
  --dark: #191919;
  --dark-alt: #2d2a25;
  --light: #ffffff;
  --light-alt: #f4fcfc;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  background: var(--light-alt);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Container */
.container {
  width: 90%;
  margin: auto;
}

/* Button */
.button {
  background: var(--primary);
  border: 0;
  outline: 0;
  padding: 10px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--primary);
  color: var(--dark-alt);
  cursor: pointer;
}

/* Section */
section {
  width: 100%;
  background: var(--primary);
}
section .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
section .card {
  width: 60%;
  margin: 50px auto;
  background: var(--light);
  box-shadow: 0 0 10px 2px #0003;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
}
section h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 30px;
}
section form {
  display: flex;
  justify-content: center;
  align-items: center;
}
section input {
  padding: 12px 20px;
  margin: 0 10px 0 0;
  width: 80%;
  border: 1px solid var(--dark-alt);
  font-size: 18px;
  transition: 0.5s ease all;
  background: var(--light);
}
section input:focus {
  border: 1px solid var(--secondary);
}
section .card-text {
  width: 60%;
  margin: 0 auto;
}
section .card-text .text:last-child {
  margin-bottom: 50px;
}
.error {
  color: var(--secondary);
  font-weight: 700;
  font-size: 20px;
}
.text {
  margin: 0 auto 15px;
  background: var(--light);
  box-shadow: 0 0 10px 2px #0003;
  padding: 50px;
  border-radius: 5px;
  width: auto;
}
