:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;

  /* Colors */
  --primary: #ffb300;
  --secondary: #4caf50;
  --dark: #191919;
  --dark-alt: #2d2a25;
  --light: #ffffff;
  --light-alt: #f4fcfc;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
*::selection {
  background: var(--secondary);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  background: var(--light-alt);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Container */
.container {
  width: 90%;
  margin: auto;
}

/* Button */
.button {
  background: var(--primary);
  border: 0;
  outline: 0;
  padding: 10px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--primary);
  color: var(--dark-alt);
  cursor: pointer;
}

/* Section */
section {
  width: 100%;
  background: var(--primary);
}
section .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
section h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--dark);
  margin-bottom: 30px;
}
section .card {
  width: 60%;
  background: var(--light);
  box-shadow: 0 0 10px 2px #0003;
  border-radius: 5px;
  margin-bottom: 15px;
}
section .card button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--light);
  background: var(--dark);
  border: 0;
  outline: 0;
  cursor: pointer;
}
section .card .card-body {
  padding: 25px;
  display: none;
}
section .card.active .card-body {
  padding: 25px;
  display: block;
}
section .card.active button i.fa-plus {
  display: none;
}
section .card.active button i.fa-minus {
  display: block;
}
section .card button i.fa-minus {
  display: none;
}
section .card button i.fa-plus {
  display: block;
}
