:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;

  /* Colors */
  --primary: #ffb300;
  --secondary: #4caf50;
  --dark: #191919;
  --dark-alt: #2d2a25;
  --light: #ffffff;
  --light-alt: #f4fcfc;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
*::selection {
  background: var(--secondary);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  background: var(--light-alt);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-alt);
}

/* Container */
.container {
  width: 90%;
  margin: auto;
}

/* Button */
.button {
  background: var(--dark);
  border: 0;
  outline: 0;
  padding: 10px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  border: 2px solid var(--dark);
  color: var(--light-alt);
  cursor: pointer;
  margin: 0 5px;
}

/* Section */
section {
  width: 100%;
  background: var(--secondary);
}
section .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
section h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 30px;
  text-shadow: 0 0 5px #0002;
}
section .card {
  width: 60%;
  background: var(--light);
  box-shadow: 0 0 10px 2px #0003;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section .card .image {
  width: 30%;
  margin-right: 3%;
}
section .card .text {
  width: 67%;
}
section .card .text h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2px;
  color: var(--dark);
}
section .card .text h6 {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-alt);
}
section .card button {
  margin: 0 10px;
}
section .button-group {
  margin-top: 30px;
}
